.container
  position: relative
  width: 100%

.select
  width: 100%
  position: relative
  background-color: transparent
  padding: 10px 10px 10px 0
  border: none
  border-bottom: 1px solid #ddd
  margin: 10px 0

  &:focus
    outline: none
    border-bottom: transparent

  &:focus ~ .container, &:valid ~ .label
    color: #2F80ED
    top: -20px
    transition: 0.2s ease all
    font-size: 14px

  &:after
    position: absolute
    top: 18px
    right: 10px
    width: 0;
    height: 0
    padding: 0
    content: ''
    border-left: 6px solid transparent
    border-right: 6px solid transparent
    border-top: 6px solid rgba(0, 0, 0, 0.12)
    pointer-events: none

  &.highlight
    position: absolute
    height: 60%
    width: 100px
    top: 25%
    left: 0
    pointer-events: none
    opacity: 0.5

  &.selectBar
    position: relative
    display: block

    &:after
      right: 50%

    &:before
      left: 50%

    &:before, &:after
      content: ''
      height: 2px
      width: 0
      bottom: 1px
      position: absolute
      background: #2F80ED
      transition: 0.2s ease all

  &.label
    position: absolute
    pointer-events: none
    left: 0
    top: 10px
    transition: 0.2s ease all

