.passwords
  width: 100%
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start

  @media (max-width: 500px)
    > div
      width: 100%
      padding-right: 12px

  > div
    margin: 0 10px

  > button
    margin: 10px